.container {
  color: var(--color-blue);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.counter {
  background-color: var(--color-gray-400);
  border-radius: 10px;
  color: var(--color-gray-200);

  font-size: 12px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 19px;
  padding: 0 0.5rem;
}
